<launch>
  <node pkg="tf40" type="tf40" name="tf40_rf" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tf40.rf" />
    <!-- <param name="baud_rate" value="38400" /> -->
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="tf40_rf" />
    <param name="node_name" value="tf40_rf" />
  </node>

  <node pkg="tf40" type="tf40" name="tf40_rr" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tf40.rr" />
    <!-- <param name="baud_rate" value="38400" /> -->
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="tf40_rr" />
    <param name="node_name" value="tf40_rr" />
  </node>

  <!-- <node ns="tf40_rf" pkg="tf40" type="tf40" name="tf40" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tf40.rf" />
    <param name="baud_rate" value="38400" />
  </node>

  <node ns="tf40_rr" pkg="tf40" type="tf40" name="tf40" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tf40.rr" />
    <param name="baud_rate" value="38400" />
  </node> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="broadcasterTF40_rf" args="0.6 0.65 0 0 0 0  base_link tf40_rf 100" />
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTF40_rr" args="0.6 -0.65 0 0 0 0 base_link tf40_rr 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTF40_rf" args="0.56 0.51 0 0 0 0  base_link tf40_rf 100" />
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTF40_rr" args="0.56 -0.51 0 0 0 0 base_link tf40_rr 100" />
</launch>
